</br>
</br>
<!-- Footer -->
<footer class="fixed-bottom bottom-0 text-center text-lg-start text-muted" style="background-color:  #3c3d41;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>My socials:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.linkedin.com/in/awadly/" class="me-4 ">
        <i class="fab fa-linkedin"> Abdelrahman Elawadly </i> 
      </a>
      <a href="https://github.com/Awadly" class="me-4">
        <i class="fab fa-github"> Awadly </i>
      </a>
      <a href="mailto:abdelrahmanalawadly@gmail.com" class="me-4">
        <i class="fa fa-envelope"> abdelrahmanalawadly@gmail.com</i> 
      </a>
    </div>
    <!-- Right -->
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright: Awadly
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->