<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Friends</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel = "icon" href = 
"https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" 
        type = "image/x-icon">
    <link rel="stylesheet"href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.css" >
  </head>
  <body>
    <%= render 'home/header' %>
    <div class="container">
      <%= yield %>
    <div>
    
    
      <%= render 'home/footer' %>
  </body>
</html>
